
<div id='login' style="background-color:white;"  class="srmuservalidation">
	
	
	<div  style="  float: middle;" >
	   		<table class='glass' style='width:50%' border=11>
			<tr><td class='glass ul'></td>
			<td class='glass um'></td><td class='glass ur'></td></tr>
	
			<tr><td class='glass lt'></td>
				<td class='glass content' >
					<div class="clearfix">
						<div  id="srmapp_srmuservalidation" 
						 widgetid="srmapp_srmuservalidation">
			<h2 class='ABClogin'>Login to ABC</h2>
	<table  border='0' >
		<tr >
			<td class='heading' style='width:30%'>user Name:</td>
			<td class='value' style='width:70%'><input type='text' 
			id='${id}_username_input' size='97%'/></td>
		</tr>
		<tr>
			<td class='heading'>Password:</td>
			<td class='value'><input type='password' size='90%'
				id='${id}_password_input' /></td>
		</tr>
		<tr>
			<td>Remember me</td>
			<td><div class='actions submit'>
					<input id='submit' class='loginbtn inactive' type='submit'
						value='LOGIN' name='submit' disabled='disabled'>
				</div></td>
		</tr>
	</table>
	OR Login Using: <br>
	<table style='width:50%' class='table' border='0'>
		<tr>
			<td><a id='facebook' style='width:45%' class='social-button embossed odd'
				title='Login with Facebook'
				href='https://files.ABC.com/account/sn/facebook/login'> <img
					src='https://files.ABC.com/account/static/images/facebook-icon.png'>Facebook
			</a></td>
			<td><a id='twitter' style='width:45%' class='social-button embossed even
	title='
				Login with
				Twitter'
	 href='https://files.ABC.com/account/sn/twitter/login'>
					<img
					src='https://files.ABC.com/account/static/images/twitter-icon.png'>Twitter
			</a></td>
		</tr>
		<tr>
			<td><a id='google' style='width:45%' class='social-button embossed odd'
				title='Login with Google
	  href='https://files.ABC.com/account/sn/google/login'>
					<img
					src='https://files.ABC.com/account/static/images/google-icon.png'>Google
			</a></td>
			<td><a id='linkedin' style='width:45%' class='social-button embossed even'
				title='Login with LinkedIn'
				href='https://files.ABC.com/account/sn/linkedin/login'> <img
					src='https://files.ABC.com/account/static/images/linkedin-icon.png'>LinkedIn
			</a></td>
		</tr>
	</table>
	<div id='login-footer'>
		<a id='forgot' class='fn-loadWidgetsLink'
			href='https://files.ABC.com/account/passwordreset'
			data-target-url='https://files.ABC.com/account/passwordreset'
			data-target='#login'>Forgot your password?</a> <a id='register'
			class='' href='signup.html'>Register
			now!</a>
	</div>

  
						</div>
						<div class="clear"></div>
					</div>
				</td>
				<td class='glass rt'></td></tr>
			<tr><td class="glass ll"></td><td class="glass lm"></td><td class="glass lr"></td></tr>
			</table>
		</div>
		
				
</div>
